<!DOCTYPE html>
<html lang="en">
<head>
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-90011901-1', 'auto');
	ga('send', 'pageview');
	</script>
	<link rel="stylesheet" href="http://minemidnight.work/assets/css/style.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="http://minemidnight.work/assets/css/w3.css">
	<script src="http://minemidnight.work/assets/js/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.5.5/showdown.min.js"></script>
	<script async defer src="http://minemidnight.work/assets/js/main.js"></script>
	<script async defer src="http://minemidnight.work/assets/js/liveChat.js"></script>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Oxyl - Guild Dashboard</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="minemidnight" />
	<meta property="og:title" content="Oxyl Guild Dashboard" />
	<meta property="og:site_name" content="Oxyl" />
	{{#if guild}}
	<meta property="og:description" content="Analytics for {{guild.name}}" />
	<meta property="og:image" content="https://cdn.discordapp.com/icons/{{guild.id}}/{{guild.icon}}.jpg" />
	{{else}}
	<meta property="og:description" content="A multipurpose discord bot with with features from music to moderation" />
	<meta property="og:image" content="assets/images/oxyl-logo.jpg" />
	{{/if}}
</head>
<body class="w3-darknotblack">
	<nav id="main-nav" class="w3-card-2 w3-sidenav w3-collapse w3-notquiteblack w3-animate-left">
		<a class="w3-xxlarge w3-hide-large w3-text-red" style="position:absolute;right:10%" onclick="toggleNav()">&times;</a>
		<h1 class="w3-xxxlarge w3-center">Oxyl</h1>
		<a class="w3-padding" href="http://minemidnight.work/">Home</a>
		<a class="w3-padding" href="http://minemidnight.work/commands">Commands</a>
		<a class="w3-padding" href="http://minemidnight.work/tags">Tag Documentation</a>
		<a class="w3-padding" href="http://minemidnight.work/stats">Statistics</a>
		<a id="current" class="w3-padding" href="http://minemidnight.work/select">Guild Dashboard</a>
		<div style="position:absolute;bottom:0;width:100%;height:100px">
		{{#if user}}
			<a href="http://minemidnight.work/user/{{user.id}}">
				<p class="w3-center w3-large">
					<img class="w3-circle" style="max-height:36px;vertical-align:text-bottom" src="https://cdn.discordapp.com/avatars/{{user.id}}/{{user.avatar}}.jpg" />
					{{user.username}}#{{user.discriminator}}
				</p>
			</a>
		{{else}}
			<a class="w3-padding" href="https://discordapp.com/oauth2/authorize?response_type=code&redirect_uri=https://minemidnight.work/login&scope=identify+guilds&client_id=255832257519026178">Login with Discord</a>
		{{/if}}
		</div>
	</nav>
	<div class="w3-overlay w3-animate-opacity" onclick="toggleNav()"></div>
	<main class="w3-main w3-center" style="margin-left:300px">
		<header class="w3-container">
			<span class="w3-btn w3-black w3-round-jumbo w3-large w3-hide-large" style="position:fixed;left:20px;top:20px;z-index:" onclick="toggleNav()">&#9776;</span>
			<h1 class="w3-clear w3-jumbo w3-margin-0">Guild Analytics</h1>
		</header>

		{{#if guild}}
		<div class="w3-row-padding w3-margin-bottom">
			<div class="w3-quarter">
				<div class="w3-container w3-red w3-padding-16 w3-margin-bottom">
					<div class="w3-left">
						{{#if guild.icon}}
						<img class="w3-circle" style="margin-bottom:0px;width:64px" src="https://cdn.discordapp.com/icons/{{guild.id}}/{{guild.icon}}.jpg" />
						{{else}}
						<p class="w3-large w3-circle" style="background-color:rgb(46, 49, 54);padding:15px;width:56px;margin-top:-4px;user-select:none">{{guild.subname}}</p>
						{{/if}}
					</div>
					<div class="w3-right">
						<h3 class="w3-large">{{guild.name}}</h3>
					</div>
					<div class="w3-clear"></div>
					<h4 class="w3-xlarge">Guild Name</h4>
				</div>
			</div>
			<div class="w3-quarter">
				<div class="w3-container w3-yellow w3-padding-16 w3-margin-bottom">
					<div class="w3-left"><i class="material-icons w3-xxxlarge">chat</i></div>
					<div class="w3-right">
						<h3>{{guild.channels.size}}</h3>
					</div>
					<div class="w3-clear"></div>
					<h4 class="w3-xlarge">Channels</h4>
				</div>
			</div>
			<div class="w3-quarter">
				<div class="w3-container w3-green w3-padding-16 w3-margin-bottom">
					<div class="w3-left"><i class="material-icons w3-xxxlarge">public</i></div>
					<div class="w3-right">
						<h3>{{guild.region}}</h3>
					</div>
					<div class="w3-clear"></div>
					<h4 class="w3-xlarge">Region</h4>
				</div>
			</div>
			<div class="w3-quarter">
				<div class="w3-container w3-dark-grey w3-padding-16 w3-margin-bottom">
					<div class="w3-left"><i class="material-icons w3-xxxlarge">person</i></div>
					<div class="w3-right">
						<h3 class="w3-large">{{guild.owner.username}}#{{guild.owner.discriminator}}</h3>
					</div>
					<div class="w3-clear"></div>
					<h4 class="w3-xlarge">Owner</h4>
				</div>
			</div>
		</div>

		<div class="w3-row-padding w3-margin-bottom">
			<div class="w3-quarter">
				<div class="w3-container w3-teal w3-padding-16 w3-margin-bottom">
					<div class="w3-left"><i class="material-icons w3-xxxlarge">people_outline</i></div>
					<div class="w3-right">
						<h3>{{guild.memberCount}}</h3>
					</div>
					<div class="w3-clear"></div>
					<h4 class="w3-xlarge">Total Members</h4>
				</div>
			</div>
			<div class="w3-quarter">
				<div class="w3-container w3-orange w3-padding-16 w3-margin-bottom">
					<div class="w3-left"><i class="material-icons w3-xxxlarge">people</i></div>
					<div class="w3-right">
						<h3>{{guild.onlineCount}}</h3>
					</div>
					<div class="w3-clear"></div>
					<h4 class="w3-xlarge">Online Members</h4>
				</div>
			</div>
			<div class="w3-quarter">
				<div class="w3-container w3-blue w3-padding-16 w3-margin-bottom">
					<div class="w3-left"><i class="material-icons w3-xxxlarge">adb</i></div>
					<div class="w3-right">
						<h3 class="w3-large">{{guild.botCount}} ({{guild.botPercent}}%)</h3>
					</div>
					<div class="w3-clear"></div>
					<h4 class="w3-xlarge">Bot Count</h4>
				</div>
			</div>
			<div class="w3-quarter">
				<div class="w3-container w3-light-gray w3-padding-16 w3-margin-bottom">
					<div class="w3-left"><i class="material-icons w3-xxxlarge">link</i></div>
					<div class="w3-right">
						<h3 class="w3-large">{{guild.userCount}} ({{guild.userPercent}}%)</h3>
					</div>
					<div class="w3-clear"></div>
					<h4 class="w3-xlarge">User Count</h4>
				</div>
			</div>
		</div>

		<div class="w3-container w3-margin w3-padding-bottom w3-margin-bottom w3-border" style="background:#2E3136">
			<style>
				table {table-layout:fixed}
				tr {border-bottom-color:hsla(0,0%,100%,.04)!important}
				td {
					display: block!important;
					word-wrap:break-word;
					background:#36393E;
					padding:10px 15px!important
				}
				table span:not(:first-child) {margin:0 3px}
				table code {
					font-family: Menlo, Consolas, Monaco, monospace;
					font-size: 14px;
					line-height: 16px;
				}
				table code:not(.inline-code) {
					background: #2e3136;
					margin-top: 6px;
					max-width: 90%;
					white-space: prewrap;
					color: #839496;
					display: block;
					border-radius: 10px;
					padding: .5em;
					border: 2px solid #282b30
				}
				table code.inline-code {
					background: #2e3136;
					color: rgba(255, 255, 255, .7);
					padding: .2em;
					border-radius: 3px;
					font-size: 85%;
					text-indent: initial
				}
				table span.bot-tag {
					background: #7289da;
					font-size: 10px;
					font-weight: 600;
					padding: 1px 2px;
					border-radius: 3px;
					text-transform: uppercase;
					color: white;
					vertical-align: middle;
					line-height: 16px;
				}
				img.emoji {width:22px;height:22px}
				img.attachment {max-width: 520px}
				img.avatar-large {width:40px;height:40px;background-size:40px 40px;opacity:1}
				.embed p {color:rgba(255,255,255,.7);margin:0}
				.embed h6 {color:white}
				.embed a {color: #0096cf;text-decoration:none}
				.embed a:hover {text-decoration:underline}
				.embed img.embed-thumbnail {max-width:80px;max-height:80px;border-radius:5px}
				.embed-image img {max-width:520px}
				.embed img.embed-icon {height:20px;width:20px;border-radius:50%;margin-right:5px}
				.content p {margin:0}

				#chat-controls i {opacity:0.5;transition:all 1s ease;user-select:none}
				#chat-controls i:hover {opacity:1;cursor:pointer}
				input[name="channels"] + label {
					display:inline-block;
					width:20%;
					padding:2px 5px;
					display:inline-block;
					white-space: nowrap;
  				overflow: hidden;
  				text-overflow: ellipsis;
				}
			</style>
			<div class="w3-responsive w3-round-large w3-row" style="height:500px">
				<div class="w3-threequarter">
					<h4 class="w3-xlarge w3-left-align">Live Chat</h4>
				</div>
				<div class="w3-quarter" id="chat-controls">
					<i class="material-icons w3-xxlarge w3-right w3-section" id="pause-play">pause_circle_outline</i>
					<button onclick="toggleModal('settings-modal')" class="w3-center w3-btn w3-right w3-margin" id="modal-settings">Settings</button>
				</div>
				<table id="msg-table" class="w3-table-all" style="max-height:500px;border:none;">
				</table>
			</div>
		</div>

		<div class="w3-row-padding w3-margin-bottom w3-left-align">
			{{#if panel}}
				<h3 class="w3-margin w3-xlarge">Manage Settings</h3>
				<form class="w3-container" method="post" action="update">
				{{#createInput settings guild}}{{/createInput}}
				<input class="w3-center w3-btn w3-section" type="submit" value="Submit" />
				</form>
			{{else if user}}
				<p class="w3-margin w3-xlarge">Sorry! You don't have permissions on this guild, so you can't manage it.</p>
			{{else}}
				<p class="w3-margin w3-xlarge">Log in to Manage Guild Settings</p>
			{{/if}}
		</div>

		{{else}}
		<h2 class="w3-xxlarge">Invalid guild ID</h2>
		{{/if}}
	</main>

	<style>@media (min-width:993px){#settings-modal{margin-left:150px!important}}</style>
	<div id="settings-modal" class="w3-modal">
		<div class="w3-modal-content w3-card-8">
			<div class="w3-notquiteblack">
				<span onclick="cancelModal()" style="margin-right:7.5px" class="w3-closebtn w3-hover-text-red">&times;</span>
				<header class="w3-card-4 w3-blurple">
					<h2 class="w3-text-white w3-margin">Settings</h2>
				</header>
				<form class="w3-container">
					<label class="w3-label">Starts With</label>
					<input class="w3-input" type="text" name="starts" />
					<label class="w3-label">Ends With</label>
					<input class="w3-input" type="text" name="ends" />
					<label class="w3-label">Matches Regex</label>
					<input class="w3-input" type="text" name="matches" />
					<h4>Regex Flags</h4>
					<input class="w3-check" type="checkbox" value="g" name="flags" checked />
					<label class="w3-validate">Global</label>
					<input class="w3-check" type="checkbox" name="flags" value="i" />
					<label class="w3-validate">Case Insensitive</label>
					<h4>Channels</h4>
					{{#listChannels guild}}{{/listChannels}}
				</form>
				<footer class="w3-center">
					<button onclick="toggleModal('settings-modal')" class="w3-center w3-btn w3-section w3-hover-green" id="save-modal">Save</button>
					<button onclick="cancelModal()" class="w3-hover-red w3-center w3-btn w3-section">Cancel</button>
					<button onclick="toggleModal('settings-modal')" class="w3-center w3-btn w3-section w3-hover-yellow" id="restore-modal">Restore Defaults</button>
		    </footer>
			</div>
		</div>
	</div>
</body>
</html>
