<!DOCTYPE html>
<html lang="en">
<head>
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-90011901-1', 'auto');
	ga('send', 'pageview');
	</script>
	<link rel="stylesheet" href="assets/css/style.css" />
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<script async src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script async defer src="assets/js/main.js"></script>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Oxyl - Home</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="minemidnight" />
	<meta property="og:title" content="Oxyl Homepage" />
	<meta property="og:site_name" content="Oxyl" />
	<meta property="og:description" content="A multipurpose discord bot with with features from music to moderation" />
	<meta property="og:image" content="assets/images/oxyl-logo.jpg" />
</head>
<body class="w3-darknotblack">
	<nav id="main-nav" class="w3-card-2 w3-sidenav w3-collapse w3-notquiteblack w3-animate-left">
		<a class="w3-xxlarge w3-hide-large w3-text-red" style="position:absolute;right:10%" onclick="toggleNav()">&times;</a>
		<h1 class="w3-xxxlarge w3-center">Oxyl</h1>
		<a id="current-nav" class="w3-padding" href="/">Home</a>
		<a class="w3-padding" href="commands">Commands</a>
		<a class="w3-padding" href="tags">Tag Documentation</a>
		<a class="w3-padding" href="stats">Statistics</a>
		<a class="w3-padding" href="select">Guild Dashboard</a>
		<div style="position:absolute;bottom:0;width:100%">
		{{#if user}}
			<p class="w3-center w3-large">
				<img class="w3-circle" style="max-height:36px;vertical-align:text-bottom" src="https://cdn.discordapp.com/avatars/{{user.id}}/{{user.avatar}}.jpg" />
				{{user.username}}#{{user.discriminator}}
			</p>
		{{else}}
			<a class="w3-padding" href="https://discordapp.com/oauth2/authorize?response_type=code&redirect_uri=https://minemidnight.work/login&scope=identify+guilds&client_id=255832257519026178">Login with Discord</a>
		{{/if}}
		</div>
	</nav>
	<div class="w3-overlay w3-animate-opacity" onclick="toggleNav()"></div>
	<main class="w3-main w3-center" style="margin-left:300px">
		<header class="w3-container">
			<span class="w3-btn w3-black w3-round-jumbo w3-large w3-hide-large" style="position:fixed;left:20px;top:20px" onclick="toggleNav()">&#9776;</span>
			<h1 class="w3-clear w3-jumbo w3-margin-0">Oxyl</h1>
		</header>
		<div class="w3-row-padding m6 l3">
			<div class="w3-quarter">&#8203;</div>
			<div class="w3-quarter">
				<a class="w3-btn-block w3-margin-bottom w3-round w3-blue w3-hover-light-blue w3-large w3-border w3-border-indigo" href="https://discordapp.com/oauth2/authorize?client_id=255832257519026178&scope=bot&permissions=298183686">Invite</a>
				<a class="w3-btn-block w3-margin-bottom w3-round w3-blue w3-hover-light-blue w3-large w3-border w3-border-indigo" href="https://discordapp.com/oauth2/authorize?client_id=255832257519026178&scope=bot">Invite (Minimal)</a>
			</div>
			<div class="w3-quarter">
				<a class="w3-btn-block w3-margin-bottom w3-round w3-blue w3-hover-light-blue w3-large w3-border w3-border-indigo" href="https://discordapp.com/invite/9wkTDcE">Support</a>
				<a class="w3-btn-block w3-margin-bottom w3-round w3-blue w3-hover-light-blue w3-large w3-border w3-border-indigo" href="https://github.com/minemidnight/oxyl">GitHub</a>
			</div>
		</div>
		<div class="w3-row-padding m6 l3">
			<div class="w3-third">&#8203;</div>
			<div class="w3-third">
				<p class="w3-xlarge">Oxyl is a multipurpose Discord Bot coded using <a href="https://abal.moe/Eris/">Eris</a>
					and <a href="https://nodejs.org">Node.js</a> with features from music to moderation.</p>
			</div>
		</div>
	</main>
</body>
</html>
